html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", serif;
  line-height: 1.3;
  background-color: #fff;
  color: #000;
  font-weight: 300;
}

body .container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, input, select {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.85rem;
}

input, select {
  border: 0;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: #616161;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  border: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.crops {
  height: 350px;
  width: 350px;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(20deg) translateX(-18%) translateY(25%);
          transform: rotate(20deg) translateX(-18%) translateY(25%);
}

header {
  width: 40%;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  font-family: "Amatic SC", cursive;
}

header h2 {
  font-size: 2.85rem;
}

header img {
  width: 2.5rem;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-100%) translateY(-5%) rotate(-45deg);
          transform: translateX(-100%) translateY(-5%) rotate(-45deg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.sidebar a {
  border-radius: 50%;
  pointer-events: none;
}

.sidebar .fab {
  padding: 0.5rem;
  pointer-events: auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 1.1rem;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.sidebar .fab::after {
  content: attr(data-tooltip);
  height: 2.1rem;
  width: 6rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  font-family: "Montserrat", serif;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0.5rem;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.sidebar .fab:hover {
  color: #fff;
}

.sidebar .fab:hover::after {
  color: inherit;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}

.sidebar .twitter:hover {
  background-color: #1da1f2;
}

.sidebar .github:hover {
  background-color: #333333;
}

.sidebar .linkedin:hover {
  background-color: #0072b1;
}

.lorem-generator-block {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.user-input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.user-input-form .output-preference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-input-form #output-count {
  width: 10rem;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.user-input-form #output-count::-webkit-input-placeholder {
  font-size: 0.9rem;
}

.user-input-form #output-count:-ms-input-placeholder {
  font-size: 0.9rem;
}

.user-input-form #output-count::-ms-input-placeholder {
  font-size: 0.9rem;
}

.user-input-form #output-count::placeholder {
  font-size: 0.9rem;
}

.user-input-form #lorem-type-menu {
  width: 10rem;
  font-size: 0.9rem;
  padding: 0.3rem;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.user-input-form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.user-input-form .buttons button:hover {
  opacity: 0.75;
}

.user-input-form .buttons button {
  width: 5rem;
}

.user-input-form .buttons .generator-btn {
  background-color: #e63947;
}

.user-input-form .buttons .reset-btn {
  background-color: #118ab2;
}

.lorem-harvest-block {
  max-width: 70%;
  max-height: 12rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lorem-harvest-block .placeholder-msg {
  font-weight: 500;
  border-left: 0.3rem solid #000;
  padding-left: 1rem;
}

.lorem-harvest-block .placeholder-msg .fa-tractor.move {
  -webkit-animation: moveAcross 1.5s linear;
          animation: moveAcross 1.5s linear;
}

@-webkit-keyframes moveAcross {
  0% {
    -webkit-transform: translateX(-25rem);
            transform: translateX(-25rem);
  }
  50% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveAcross {
  0% {
    -webkit-transform: translateX(-25rem);
            transform: translateX(-25rem);
  }
  50% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.lorem-harvest-block .lorem-harvest {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.lorem-harvest-block .lorem-harvest .lorem-text {
  padding-left: 1rem;
  border-left: 0.3rem solid #000;
  color: #000;
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.lorem-harvest-block .lorem-harvest .copy-text-btn {
  background-color: #118ab2;
  position: relative;
}

.lorem-harvest-block .lorem-harvest .copy-text-btn.alert::after {
  content: "text copied";
  display: block;
  position: absolute;
  top: 0;
  right: -5rem;
  color: #000;
  font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
  body .container {
    padding: 2rem 0;
    position: relative;
  }
  body .container header {
    width: 70%;
  }
  body .container #toggle-dark-mode {
    position: fixed;
    top: unset;
    right: 2.5rem;
    bottom: 3rem;
    font-size: 1.75rem;
  }
  body .container #toggle-dark-mode::after {
    font-size: 0.6rem;
  }
  body .container .user-input-form .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .container .lorem-generator-block {
    width: 100%;
  }
  body .container .lorem-generator-block .user-input-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container .lorem-generator-block .lorem-harvest-block .fa-tractor {
    display: block;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: #6b6b6b;
  -webkit-transform: rotate(-45deg) translateX(15%) translateY(-10%);
          transform: rotate(-45deg) translateX(15%) translateY(-10%);
}

footer a {
  color: #e63947;
  display: block;
  color: #000;
  font-weight: 600;
}

footer a:hover {
  color: tomato;
}
/*# sourceMappingURL=style.css.map */