footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: clamp(0.65rem, 2vw, 0.75rem);
    font-weight: 500;

    text-align: center;
    color: #6b6b6b;

    a {
        color: $btn-primary;
        display: block;
        color: $text-dark;
        font-weight: 600;

        &:hover {
            color: tomato;
        }
    }

    transform: rotate(-45deg) translateX(15%) translateY(-10%);
}