$background-light: #fff;
$background-dark: #121212;
$text-light: #dee2e6;
$text-dark: #000;
$border-light: #fff;
$border-dark: #000;
$btn-primary: #e63947;
$btn-secondary: #118ab2; 
$base-white: #fff;
$outset-shadow: 2px 2px 5px rgba(0,0,0,0.3);
$primary-font: 'Montserrat', serif;
$secondary-font: 'Amatic SC', cursive;


html {
    box-sizing: border-box;
    font-size: 100%;
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $primary-font;
    line-height: 1.3;
    background-color: $background-light;
    color: $text-dark;
    font-weight: 300;
    
    .container {
        width: 100%;
        min-height: 100%;
        margin: 0 auto;
        padding: 1rem 0;
        position: relative;
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

button, input, select {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 0.85rem;
}

input, select {
    border: 0;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    color: rgb(97, 97, 97);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

button {
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $base-white;
    cursor: pointer;
    box-shadow: $outset-shadow;
}

.crops {
    height: 350px;
    width: 350px;
    position: fixed;
    bottom: 0;
    left: 0;

    transform: rotate(20deg) translateX(-18%) translateY(25%);
}