header {
    width: 40%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    font-family: $secondary-font;
    
    h2 {
        font-size: 3rem;
        color: $text-dark;
        text-align: center;

        .fa-leaf {
            color: rgb(38, 116, 81);
            font-size: 2.5rem;
        }
    }
}