.user-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;

    label {
        max-width: 10rem;
        font-weight: 500;
    }

    .output-preference {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    #output-count {
        width: 10rem;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0.5rem 1rem;

        &::placeholder {
            font-size: 0.9rem;
        }
    }

    #lorem-type {
        width: 10rem;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 2rem;

        button:hover {
            opacity: 0.5;
        }
        
        button {
            width: 5rem;
        }
        
        .generator-btn {
            background-color: $btn-primary;
        }

        .reset-btn {
            background-color: $btn-secondary;
        }
    }
}