.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(-100%) translateY(-5%) rotate(-45deg);

    @media (max-width: 768px) {
        top: unset;
        bottom: 1rem;
        transform: rotate(0) translateX(0) translateY(0);
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    width: fit-content;
    padding: 0 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
        border-radius: 50%;
        pointer-events: none;
    }

    .fab {
        padding: 0.5rem;
        pointer-events: auto;

        display: grid;
        place-content: center;
        
        font-size: 1.1rem;
        background-color: $base-white;
        border-radius: 50%;
        color: $text-dark;
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        position: relative;

        &::after {
            content: attr(data-tooltip);
            height: 2.1rem;
            width: 6rem;
            margin-left: 0.5rem;
            padding-left: 0.5rem;

            font-size: 0.8rem;
            font-family: $primary-font;
            background-color: inherit;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 0.5rem;

            position: absolute;
            right: 0;
            z-index: -1;
            
            transform-origin: right;
            transform: scale(0);  
            visibility: hidden;        
            transition: all 150ms ease-in-out;
        }
    }

    .fab:hover {
        color: $base-white;

        &::after {
            color: inherit;
            transform: scale(1);
            visibility: visible;
        }
    }

    .twitter:hover {
        background-color: #1da1f2;
    }

    .github:hover {
        background-color: #333333;
    }

    .linkedin:hover {
        background-color: #0072b1;
    }
}