.lorem-harvest-block {
    max-width: 70%;
    max-height: 12rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .placeholder-msg {
        font-weight: 500;
        border-left: 0.3rem solid $border-dark;
        padding-left: 1rem;
        
        .fa-tractor.move {
            animation: moveAcross 1.5s linear;  
        }

        @keyframes moveAcross {
            0% {
                transform: translateX(-25rem);
            }
            50% {
                transform: translateX(-10rem);
            }
            100% {
                transform: translateX(0);
            }
        }
    }
    
}
.lorem-harvest {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .lorem-text {
        padding-left: 1rem;
        border-left: 0.3rem solid $border-dark;
        color: $text-dark;

        max-height: 10rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .copy-text-btn {
        background-color: $btn-secondary;
        position: relative;
    
        &.alert {
            &::after {
                content: "text copied";
                display: block;
                position: absolute;
                top: 0;
                right: -5rem;
    
                color: $text-dark;
                font-size: 0.75rem;
            }
        }
    }
}