header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
    font-family: $secondary-font;
    
    h2 {
        font-size: clamp(2rem, 6vw, 2.75rem);
    }

    img {
        width: clamp(1.85rem, 6vw, 2.75rem);
    }
}